<div>

    <div class="tabbable tabs-left">
        <ul class="nav nav-tabs nav-justified navtabs-margin">
            <li class="active"><a href="#yellowcabs" data-toggle="tab" ng-click="$event.preventDefault();">Yellow Cabs</a></li>
            <li><a href="#orangecabs" data-toggle="tab" ng-click="$event.preventDefault();">Orange Cabs</a></li>
            <li><a href="#dotcabs" data-toggle="tab" ng-click="$event.preventDefault();">Dot Cabs</a></li>
            <li><a href="#skycabs" data-toggle="tab" ng-click="$event.preventDefault();">Sky Cabs</a></li>
            <li><a href="#merucabs" data-toggle="tab" ng-click="$event.preventDefault();">Meru Cabs</a></li>
            <li><a href="#hydcabs" data-toggle="tab" ng-click="$event.preventDefault();">Hyd Cabs</a></li>
            <li><a href="#whitecabs" data-toggle="tab" ng-click="$event.preventDefault();">White Cabs</a></li>
            <li><a href="#/allCabs/2">Next <i class="glyphicon glyphicon-chevron-right"></i></a></li>
        </ul>

        <div class="tab-content">
            <div id="yellowcabs" class="tab-pane active">
                <div class="well clearfix">
                    <h4>yellowcabs</h4>
                    <div class="col-sm-12">
                        <span class="col-sm-6">Website</span>
                        <a  class="col-sm-6" href="{{cabsData.yellowcabs.url}}">{{cabsData.yellowcabs.url}}</a>
                    </div>
                </div>
            </div>
            <div id="orangecabs" class="tab-pane">
                <div class="well clearfix">
                    <h4>orangecabs</h4>
                    <div class="col-sm-12">
                        <span class="col-sm-6">Website</span>
                        <a  class="col-sm-6" href="{{cabsData.orangecabs.url}}">{{cabsData.orangecabs.url}}</a>
                    </div>
                </div>
            </div>
            <div id="dotcabs" class="tab-pane">
                <div class="well clearfix">
                    <h4>dotcabs</h4>
                    <div class="col-sm-12">
                        <span class="col-sm-6">Website</span>
                        <a  class="col-sm-6" href="{{cabsData.dotcabs.url}}">{{cabsData.dotcabs.url}}</a>
                    </div>
                </div>
            </div>
            <div id="skycabs" class="tab-pane">
                <div class="well clearfix">
                    <h4>skycabs</h4>
                    <div class="col-sm-12">
                        <span class="col-sm-6">Website</span>
                        <a  class="col-sm-6" href="{{cabsData.skycabs.url}}">{{cabsData.skycabs.url}}</a>
                    </div>
                </div>
            </div>
            <div id="merucabs" class="tab-pane">
                <div class="well clearfix">
                    <h4>merucabs</h4>
                    <div class="col-sm-12">
                        <span class="col-sm-6">Website</span>
                        <a  class="col-sm-6" href="{{cabsData.merucabs.url}}">{{cabsData.merucabs.url}}</a>
                    </div>
                </div>
            </div>
            <div id="hydcabs" class="tab-pane">
                <div class="well clearfix">
                    <h4>hydcabs</h4>
                    <div class="col-sm-12">
                        <span class="col-sm-6">Website</span>
                        <a  class="col-sm-6" href="{{cabsData.hydcabs.url}}">{{cabsData.hydcabs.url}}</a>
                    </div>
                </div>
            </div>
            <div id="whitecabs" class="tab-pane">
                <div class="well clearfix">
                    <h4>whitecabs</h4>
                    <div class="col-sm-12">
                        <span class="col-sm-6">Website</span>
                        <a  class="col-sm-6" href="{{cabsData.whitecabs.url}}">{{cabsData.whitecabs.url}}</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>