<div class="well">
    <div class="col-sm-12">
        <span class="col-sm-5">Name</span>
        <span class="col-sm-2"> :: </span>
        <span class="col-sm-5">Rajeshwar Reddy</span>
    </div>
    <div class="col-sm-12">
        <span class="col-sm-5">Email Id</span>
        <span class="col-sm-2"> :: </span>
        <span class="col-sm-5">rajeshwar.patlolla@gmail.com</span>
    </div>
    <div class="col-sm-12">
        <span class="col-sm-5">Phone</span>
        <span class="col-sm-2"> :: </span>
        <span class="col-sm-5">+91 9030043832</span>
    </div>

    <div class="clearfix"></div>
</div>
